@import "App";

.accountSaver {
    @extend %commonSettings;
    color: $darkBlue;
    .errMsg {
        font-family: Roboto-Medium;
        letter-spacing: .3px;
        color: $red;
        font-size: .8rem;
    }
    .submitErrMsg {
        position: absolute;
        top: -18px;
        font-size: 1rem;
//top: 58px;
    }
    .textField {
        margin-top: 10px;
        position: relative;
        .errMsg {
            position: absolute;
            top: 58px;
        }
    }
    p {
        line-height: 1.5;
        letter-spacing: .5px;
    }
    .inputSection {
        margin-top: 22px;
        position: relative;
    }
    button {
        margin-top: 10px;
        width: max-content;
    }
    fieldset,.MuiInputBase-root {
        width: 375px;
    }
}

.setNewPasswordConfirm {
    .msg {
        font-size: 1rem;
    }
    button {
        margin-top: 3rem;
    }
}