@import "App";

.accountSaver {
    @extend %commonSettings;
    color: $darkBlue;
    .errMsg {
        font-family: Montserrat-SemiBold;
        color: $red;
        font-size: .8rem;
        position: absolute;
        top: 60px;
    }
    p {
        line-height: 1.5;
        letter-spacing: .5px;
    }
    .inputSection {
        margin-top: 10px;
        position: relative;
    }
    button {
        margin-top: 10px;
    }
}