/* color */
$lightGrey: #d0d0d0;
$darkBlue: #073B4C;
$lightBlue: #d6f1fa;
$lighterBlue: #D0F0FB;
$blue: #1F85DE;
$blue1: #118AB2;
$blue2: #35b0da;
$grey: #828181;
$green: #06D6A0;
$green1: #00b182;
$red: #EF476F;
$orange: #DE781F;
$lightOrange: #db9d67;

/* border-radius */
$btnBorderRadius: 5px;
$inputBorderRadius: 5px;

/* margin */
$titleMarginTop: 2rem;
$titleMarginBottom: 1.75rem;

/* btn */
$btnHeight: 40px;

/* font-face */
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

/* font-family */
$fontSize_small: 0.5rem; //8px
$fontSize_normal: 0.875rem; //14px
$fontSize_orig: 1rem; //16px
$fontSize_big: 1.25rem; //20px
$fontSize_bigger: 1.5rem; //24px

/* window size */
$windowSize_xs: 480px;
$windowSize_small: 768px;
$windowSize_medium: 1024px;
$windowSize_big: 1280px;

/* width */
$width_contents: clamp(375px, 85vmin, 800px);
$input_max_width: 400px;
// $width_xs: calc(#{$windowSize_xs} * 0.6);
// $width_small: calc(#{$windowSize_small} * 0.6);
// $width_medium: calc(#{$windowSize_medium} * 0.6);
// $width_big: calc(#{$windowSize_medium} * 0.6);

body {
  font-size: 16px;
  overflow-y: overlay;
}

* {
  font-family: Roboto-Regular;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin debugBorder() {
  border: solid red 1px;
}

@mixin btnFont() {
  font-family: Montserrat-SemiBold;
  font-size: $fontSize_normal;
}

@mixin btn($width, $height) {
  width: $width;
  height: $height;
  border-radius: $btnBorderRadius;
  cursor: pointer;
  @include btnFont();
}

@mixin absoluteHorizontalCenter() {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absoluteCenter() {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%forCenter_parent {
  position: relative;
  height: 100vh;
}

%commonSettings {
  @extend %forCenter_parent;
  @include absoluteHorizontalCenter();
  h1 {
    letter-spacing: .8px;
    font-family: Montserrat-Regular;
    color: $darkBlue;
    font-size: 22px;
    @media screen and (min-width: 600px) {
      font-size: 30px;
    }
    @media screen and (min-width: 960px) {
      font-size: 36px;
    }
    text-align: center;
    margin-bottom: 8vmin;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: fit-content;
    &::after {
      content: '';
      position: absolute;
      bottom: -4vmin;
      left: 50%;
      transform: translateX(-50%);
      height: .5rem;
      border-top: 3px solid #FEB610;
      width: 20%;
    }
  }
  h2 {
    font-family: Montserrat-Regular;
    color: $darkBlue;
    line-height: 2;
  }
  .btnSection {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
  }
  .inputSection {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .contents {
    width: $width_contents;
    font-size: $fontSize_normal;
    margin-top: clamp(80px, 16vmin, 130px);
  }
}

.MuiButton-label {
  text-transform: none;
  font-family: Montserrat-SemiBold;
  letter-spacing: .3px;
}

.signInReminder {
  font-family: Montserrat-Regular;
  * {
    font-family: Montserrat-Regular;
  }
}