/* color */
$lightGrey: #d0d0d0;
$darkBlue: hsl(195, 83%, 16%);
$lightBlue: #d6f1fa;
$blue1: #118ab2;
$blue2: #1a5f76;
$grey: #828181;
$green: #06D6A0;
$red: #EF476F;

/* border-radius */
$btnBorderRadius: 5px;
$inputBorderRadius: 5px;

/* margin */
$titleMarginTop: 2rem;
$titleMarginBottom: 1.75rem;

/* btn */
$btnHeight: 40px;

/* font-face */
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

/* font-family */
$fontSize_small: 0.5rem;
$fontSize_normal: 0.875rem;
$fontSize_big: 1.25rem;
$fontSize_bigger: 1.5rem;

/* window size */
$windowSize_xs: 480px;
$windowSize_small: 768px;
$windowSize_medium: 1024px;
$windowSize_big: 1280px;

/* width */
$width_contents: clamp(375px, 80vmin, 600px);
// $width_xs: calc(#{$windowSize_xs} * 0.6);
// $width_small: calc(#{$windowSize_small} * 0.6);
// $width_medium: calc(#{$windowSize_medium} * 0.6);
// $width_big: calc(#{$windowSize_medium} * 0.6);

body {
  font-size: 16px;
}

* {
  font-family: Roboto-Regular;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin debugBorder() {
  border: solid red 1px;
}

@mixin btnFont() {
  font-family: Montserrat-SemiBold;
  font-size: $fontSize_normal;
}

@mixin btn($width, $height) {
  width: $width;
  height: $height;
  border-radius: $btnBorderRadius;
  cursor: pointer;
  @include btnFont();
}

@mixin absoluteHorizontalCenter() {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absoluteCenter() {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%forCenter_parent {
  position: relative;
  height: 100vh;
}

%commonSettings {
  @extend %forCenter_parent;
  h1 {
    font-family: Montserrat-Regular;
    color: $darkBlue;
    font-size: clamp(1.5rem, 5vmin, 2.5rem);
    text-align: center;
    margin-top: 20vmin;
    margin-bottom: 5vmin;
  }
  .btnSection {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
  }
  .inputSection {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .contents {
    width: $width_contents;
    font-size: $fontSize_normal;
    // @media only screen and (min-width: $windowSize_xs) {
    //   width: $width_xs;
    // }
    // @media only screen and (min-width: $windowSize_small) {
    //   width: $width_small;
    // }
    // @media only screen and (min-width: $windowSize_medium) {
    //   width: $width_medium;
    // }
    // @media only screen and (min-width: $windowSize_big) {
    //   width: $width_big;
    // }
  }
}

%signInAndAccountSettings {
  width: $width_contents;
  @include absoluteHorizontalCenter();
  margin-top: 6rem;
  @media only screen and (min-width: $windowSize_small) {
    @include absoluteCenter();
    height: 600px;
    border: 1px solid $lightGrey;
    border-radius: $btnBorderRadius;
    .contents {
      @include absoluteCenter();
    }
  }
}
