@mixin btnSection($leftBtnWidth) {
  .leftBtn {
    @include btn($leftBtnWidth, 40px);
    transform: translateX(-10px);
    border: none;
    background: transparent;
    color: $blue1;

    /*animation*/
    &:hover {
      background-position: left;
      background: linear-gradient(to left, $lightBlue 50%, white 50%) right;
      background-size: 200%;
      transition: 0.1s ease-out;
    }
  }
  .rightBtn {
    @include btn(83px, 40px);
    border: none;
    background: $blue1;
    color: white;
    &:hover {
      background: $blue2;
    }
    &:active {
      background: $blue1;
    }
  }
}
