@import "App";
@import "BtnSection";

.createAccount {
    @extend %commonSettings;
    @extend %signInAndAccountSettings;

    .contents {
        @include btnSection(128px);
        .formErrMsg {
            font-size: $fontSize_small;
            color: $red;
            text-align: left;
            margin-bottom: .8rem;
        }
    }
}