@import "App";

.exploreResult {
    @extend %commonSettings;
    .contents {
        margin-top: clamp(3rem, 15vmin, 7rem);
        // .searchSection {
        //     display: grid;
        //     grid-template-columns: 45% 35% 10%;
        //     justify-content: space-between;
        //     align-items: center;
        //     .searchIcon {
        //         cursor: pointer;
        //         width: clamp(52px, 8vmin, 72px);
        //         justify-self: flex-end;
        //     }
        // }
        .summary,.filterAndSort {
            font-size: 1rem;
            color: $darkBlue;
        }
        .summary {
            width: 100%;
            margin: .5rem 0;
            line-height: 1.6;
            .assignedKeyword,.totalItems {
                color: $red;
                font-family: Montserrat-SemiBold;
            }
        }
        .filterAndSort {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}
