@import "App";

.exploreResultTable {
    .MuiTableRow-root {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .thumbnail img {
        width: 128px;
    }
    .bookSummary {
        position: relative;
        height: 100%;
    }
    .bookInfo {
        display: grid;
        grid-template-columns: 1fr;
        * {
            letter-spacing: 1px;
        }
        .title {
            font-size: $fontSize_orig;
            font-family: Montserrat-SemiBold;
            color: $blue;
            // text-overflow: ellipsis;
            // overflow: hidden;
            // white-space: nowrap;
        }
        .author {
            line-height: 1.8;
            color: $orange;
            font-size: $fontSize_normal;
            font-family: Montserrat-SemiBold;
        }
        .publisher {
            color: $darkBlue;
        }
        .publishedDate {
            color: $darkBlue;
            letter-spacing: .5px;
        }
    }
}