@import "App";
@import "BtnSection";

.explore {
    @extend %commonSettings;
    @include absoluteHorizontalCenter();
    .contents {
        @include btnSection(128px);
        .rightBtn {
            position: absolute; right: 0;
            width: 100px;
        }
        input {
            width: $width_contents;
        }
        .checkSection {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: .5rem;
        }
    }
}