@import "App";

.home {
    @extend %commonSettings;
    .section {
        margin-top: 30px;
        @media screen and (min-width: 600px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 960px) {
            margin-top: 60px;
        }
    }
}

.howSection {
    .MuiAccordionDetails-root {
        overflow-x: visible;
    }
    margin-top: 10px;
    .title {
        font-family: Montserrat-SemiBold;
        color: $blue1;
        letter-spacing: .3px;
        font-size: 1rem;
    }
    .desc {
        font-family: Roboto-Regular;
        letter-spacing: .5px;
        font-size: .9rem;
        color: $darkBlue;
    }
    a {
        text-decoration: none;
        color: $orange;
        &:hover {
            color: $lightOrange;
        }
    }
    .itemTitle {
        font-family: Roboto-Medium;
        margin: 8px 0;
        color: $blue1;
    }
    .brief {
        margin: 5px 0;
    }
    .italic {
        font-family: Roboto-Italic;
    }
    .bold {
        font-family: Roboto-Medium;
    }
    .problem {
        color: $red;
    }
    .solution {
        color: $green1;
    }
}

.titleSection {
    .t1 {
        font-family: Montserrat-Bold;
    }
    .t2 {
        font-family: Montserrat-Regular;
    }
    font-size: 20px;
    @media screen and (min-width: 600px) {
      font-size: 24px;
    }
    @media screen and (min-width: 960px) {
      font-size: 30px;
    }
    color: $darkBlue;
}