@import "App";

@mixin inputText($width, $height) {
  width: $width;
  height: $height;
  border: solid $lightGrey 1px;
  border-radius: 5px;
  padding: 13px 15px;
  color: $darkBlue;
}

.inputText {
  position: relative;
  * {
    font-family: Roboto-Regular;
    font-size: $fontSize_normal;
  }
  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    @include inputText(296px, 45px);
  }
  label {
    position: absolute;
    top: 33%;
    margin-left: 1rem;
    z-index: -1;
  }
  input {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: $inputBorderRadius;
    border: 1px solid lightGrey;
    outline: none;
    color: $darkBlue;
  }
}

.inputTextOnBlur {
  label {
    color: $grey;
    transition: 0.1s ease-out;
  }
}

.inputTextOnFocus {
  label {
    margin-left: 0;
    z-index: 99;
    padding: 0 0.2rem;
    top: -0.7em;
    left: 1rem;
    background-color: white;
    font-size: $fontSize_small;
    color: $blue1;
    transition: 0.1s ease-in;
  }
  input {
    border: 2px solid $blue1;
  }
}

.inputTextOnBlur_hasText {
  @extend .inputTextOnFocus;
  label {
    color: $grey;
  }
  input {
    border: 1px solid $grey;
  }
}

.showErr {
  label {
    color: $red;
  }
  input {
    border-color: $red;
  }
  .errMsg {
    color: $red;
    margin-top: .2rem;
    margin-left: .3rem;
    text-align: left;
    font-size: $fontSize_small;
  }
  &.inputTextOnBlur {
    label {
      top: 25%;
    }
  }
}