@import "App";

.navbar {
    z-index: 99;
    position: absolute;
    top: 6vmin;
    left: 50%;
    transform: translateX(-50%);
    .contents {
        width: $width_contents;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo,#menuIcon {
            cursor: pointer;
        }
        .logo {
            width: clamp(96px, 20vmin, 140px);
        }
        .MuiListItemText-primary {
            font-family: Montserrat-SemiBold;
        }
    }
}