@import "App";

a {
    position: relative;
    width: fit-content;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 60px;
    width: 100%;
    border-bottom: .5px solid lightgray;
    .contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $width_contents;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .active {
            border-bottom: 3px solid #FFD166;
            border-radius: 0;
        }
        .activeMobile {
            background: $lighterBlue;
        }
        .logo {
            cursor: pointer;
            height: 40px;
            width: auto;
        }
        .MuiListItemText-primary, .MuiButton-label {
            font-family: Montserrat-SemiBold;
        }
        .signOutModal {
            p {
                font-family: Montserrat-SemiBold;
            }
            .MuiButton-label {
                font-family: Montserrat-SemiBold;
            }
        }
    }
}

.menuListDisappear {
    animation: fadeOut 200ms ease-out;
}
.menuListAppear {
    opacity: 1 !important;
    transform: scale(1) !important;
    animation: fadeIn 200ms ease-in;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}