@import "App";

.navbar {
    z-index: 99;
    position: absolute;
    top: 6vmin;
    left: 50%;
    transform: translateX(-50%);
    .contents {
        width: $width_contents;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            cursor: pointer;
            height: 22px;
            width: auto;
        }
        .MuiListItemText-primary {
            font-family: Montserrat-SemiBold;
        }
        .signOutModal {
            p {
                font-family: Montserrat-SemiBold;
            }
            .MuiButton-label {
                font-family: Montserrat-SemiBold;
            }
        }
    }
}

.menuListDisappear {
    animation: fadeOut 200ms ease-out;
}
.menuListAppear {
    opacity: 1 !important;
    transform: scale(1) !important;
    animation: fadeIn 200ms ease-in;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}