@import "App";
@import "BtnSection";

.signIn {
  @extend %commonSettings;
  .contents {
    @include btnSection(128px);
  }
  .forgotPwd {
    color: $blue1;
    margin-top: .5rem;
    cursor: pointer;
    font-family: Montserrat-Regular;
    width: fit-content;
    &:after {
        transition: all ease-in-out .2s;
        background: none repeat scroll 0 0 $blue1;
        content: "";
        display: block;
        height: .1px;
        width: 0;
    }
    &:hover:after {
        width: 100%;
    }
  }
}