@import "App";
@import "BtnSection";

.signIn {
  @extend %commonSettings;
  .contents {
    @include btnSection(128px);
  }
  .forgotPwd {
    color: $darkBlue;
    margin-top: .5rem;
    cursor: pointer;
  }
}