@import "App";
@import "BtnSection";

.verifyCreateAccount {
  @extend %signInAndCreateAccountCommonSettings;

  .contents {
    .description {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    @include btnSection(0px);
    .btnSection {
        justify-content: flex-end;
    }
    .emailAddr {
        color: $blue1;
        font-family: Roboto-Medium;
    }
  }
}
