@import "App";

.exploreResult {
    @extend %commonSettings;
    .contents {
        margin-top: clamp(5rem, 15vmin, 7rem);
        .summary,.filterAndSort {
            font-size: 1rem;
            color: $darkBlue;
        }
        .searchSummary {
            background: #D6F1FA;
        }
        .summary {
            padding: .5rem .8rem;
            border-radius: 8px;
            width: 100%;
            margin: .5rem 0;
            line-height: 1.6;
            .summaryPoint {
                color: $red;
                font-family: Montserrat-SemiBold;
            }
        }
        .filterSummary {
            background: #fce3ea;
            width: fit-content;
        }
        .filterAndSort {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
