@import "App";

@mixin baseSize($baseWidth, $baseHeight) {
    .container {
        width: calc(#{$baseWidth} * 1.1);
        height: calc(#{$baseHeight} * 1.1);
    }
    .itemWrapper {
        width: $baseWidth;
        height: $baseHeight;
    }
}

@mixin titleSize($size) {
    font-size: $size;
}

.whatSection {
    @include baseSize(330px, 412px);
    @include titleSize(1rem);
    @media screen and (min-width: 600px) {
        @include baseSize(490px, 612px);
        @include titleSize(1.2rem);
    }
    @media screen and (min-width: 960px) {
        @include baseSize(600px, 750px);
        @include titleSize(1.5rem);
    }

    .container {
        background: $lightBlue;
        padding: 20px 0;
        border-radius: 10px;
        position: relative;
    }

    .indicator {
        z-index: 130;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        display: flex;
        justify-content: space-between;
        bottom: 1.5%;
    }

    .currIndicator {
        color: white;
        background: $blue2;
        border: none;
    }

    .itemWrapper {
        @include absoluteCenter();
        overflow: hidden;
    }

    .item {
        width: 100%;
        top: 0; left: 0;
        position: absolute;

        img {
            width: 100%; //10% for title
            display: block;
            margin: 0 auto;
        }
    }

    .title {
        font-family: Montserrat-SemiBold;
        color: $blue2;
        margin-bottom: .5rem;
        text-align: center;
    }

    .navIcon {
        z-index: 120;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.left {
            left: 0px;
        }
        &.right {
            right: 0px;
        }
    }

    .curr {
        left: 0;
        z-index: 100;
    }
    
    .item:not(.curr):not(.next){
        left: 110%;
        visibility: hidden;
    }
    
    .next {
        z-index: 101;
    }
    
    .init-left {
        left: 110%;
    }
    
    .init-right {
        left: -110%;
    }
    
    .move-left {
        animation-name: move-left;
        animation-duration: 2s;
    }
    
    .move-right {
        animation-name: move-right;
        animation-duration: 2s;
    }
    
    @keyframes move-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-110%);;
        }
    }
    
    @keyframes move-right {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(110%);
        }
    }
}
