@import "App";

.createAccount {
    @extend %signInAndCreateAccountCommonSettings;

    .contents {
        text-align: center;
        h1 {
            font-size: 1.25rem;
            font-family: Montserrat-Regular;
        }
        /*input {
            height: 40px;
        }
        label {
            font-size: 0.875px;
        }*/
    }
}